<form class="row">
  <div class="buttons-row">
    <button
      *ngFor="let button of buttons"
      type="button"
      class="btn btn-outline-dark"
      (click)="onEmitChartType(button.type)"
      [ngClass]="{'active': button.active}">
      <i class={{button.icon}}></i>
    </button>
  </div>
  <button
    type="button"
    class="btn btn-success color-btn mr-5"
    (click)="onShowColorPicker()">
    Change color
  </button>
</form>
<app-color-sketch-wrapper
  (appOutsideClick)="onClose()"
  *ngIf="isShowColorPicker"
  (color)="onGetColor($event)">
</app-color-sketch-wrapper>
<hr>
<ng-content></ng-content>