<form class="row">
    <button
      *ngFor="let button of buttons"
      type="button"
      class="btn btn-outline-dark"
      (click)="onEmitChartTypeAndButton(button.type, button)"
      [ngClass]="{'active': button.active}">
      <i class={{button.icon}}></i>
    </button>
  <div
    class="dropdown"
    tabindex="1"
    (click)="onShowOrHideDropdown(dropdown)">
    <div class="select-container">
      <pre>  Select chart</pre>
      <i class="fas fa-sort-down"></i>
    </div>
    <div class="dropdown-body" #dropdown>
      <div
        class="dropdown-item"
        *ngFor="let option of optionsForChart"
        (click)="onSelectItem()">
        {{option}}
      </div>
    </div>
  </div>
</form>
<hr>
<ng-content></ng-content>