<form class="row">
    <button
      *ngFor="let button of buttons"
      type="button"
      class="btn btn-outline-dark"
      (click)="onEmitChartType(button.type, button)"
      [ngClass]="{'active': button.active}">
      <i class={{button.icon}}></i>
    </button>
    <!-- <button
      type="button"
      class="btn btn-outline-dark"
      (click)="onEmitChartType('line')"
      [ngClass]="{'active': isLine}">
      <i class="fa fa-bar-chart"></i>
    </button> -->

  <div
    class="dropdown"
    tabindex="1"
    (click)="onShowOrHideDropdown(dropdown)">
    <div class="select-container">
      <pre>  Select chart</pre>
      <i class="fas fa-sort-down"></i>
    </div>
    <div class="dropdown-body" #dropdown>
      <div
        class="dropdown-item"
        *ngFor="let option of optionsForChart"
        (click)="onSelectItem()">
        {{option}}
      </div>
    </div>
  </div>
  <!-- <select
    #select
    class="form-control form-control-sm col-4 m-1"
    (change)="onOptionChange(select)">
    <option
      *ngFor="let option of optionsForChart"
      [value]="option">
      {{option}}
    </option>
  </select> -->
</form>
<hr>
<ng-content></ng-content>