.wrapper {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  width: 322px;
  height: 385px;
  border: 1px solid #343a40;
  border-radius: .25rem;
  z-index: 100;
}