<app-select-date
  (nameOfDay)="onChooseDay($event)"
  [buttons]="buttons">
</app-select-date>
<div class="container">
  <div *ngFor="let item of charts">
    <app-chart-management
      (chartType)="onChangeChart($event, item)"
      (buttonsConfig)="getButtons($event)"
      (currentButton)="getCurrentButton($event)"
      (selectValue)="onAddChart($event, item)"
      [optionsForChart]="optionsForChart"
      [refreshedButtons]="buttons">
      <div class="chart" [chart]="item"></div>
    </app-chart-management>
  </div>
</div>

  