<app-select-date
  (nameOfDay)="onChooseDay($event)">
</app-select-date>
<div class="container">
  <div *ngFor="let item of charts; trackBy: trackByFn">
    <app-chart-management
      (chartType)="onChangeChartProp($event, item)"
      (color)="onChangeChartProp($event, item)"
      (selectValue)="onAddChart($event, item)"
      [optionsForChart]="optionsForChart"
      (currentOption)="onGetChartForRendering($event)">
      <div class="chart" [chart]="item"></div>
    </app-chart-management>
  </div>
</div>

  